<%- include("header") -%>

<h1>This is about page</h1>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat obcaecati ducimus iste? Vero, nesciunt iusto
    molestiae aspernatur culpa quae. Ab perspiciatis quidem vero ipsa aspernatur molestias eos velit illo accusamus!
    Nihil, numquam sint eligendi quod quae iste, in doloremque placeat fugiat repellendus veritatis provident?
    Cupiditate aliquam odit recusandae voluptates perspiciatis. Soluta quod voluptate maiores minus vero? Nihil quo
    ratione aperiam.
    Repudiandae ducimus eligendi repellendus! Qui distinctio alias harum, laborum officia rerum adipisci, natus neque
    ipsam voluptas quidem? Adipisci recusandae eligendi dignissimos esse voluptatem excepturi! Ex commodi eius
    cupiditate alias officiis.</p>


<%- include("footer") -%>